#imageGallery {
    display: flex;
    flex-wrap: wrap;
}

#formDiv {
    margin: 0 auto;
    width: 30%;
}

.thumbnail {
    padding: 0;
}

.thumbnail img {
    width: 100%;
}

.deleteForm {
    display: inline;
}
